
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body{
    background: #efefef;
}
nav{
    background: rgb(20, 20, 223);
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
nav ul{
    width: 100%;
    text-align: right;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10%;
}
nav ul li a{
    color: #efefef;
    text-decoration: none;


}